appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.13"
attrs==24.2.0 ; python_version >= "3.9" and python_version < "3.13"
backoff==2.2.1 ; python_version >= "3.9" and python_version < "3.13"
backports-datetime-fromisoformat==2.0.2 ; python_version >= "3.9" and python_version < "3.11"
certifi==2024.8.30 ; python_version >= "3.9" and python_version < "3.13"
charset-normalizer==3.4.0 ; python_version >= "3.9" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
distlib==0.3.9 ; python_version >= "3.9" and python_version < "3.13"
filelock==3.16.1 ; python_version >= "3.9" and python_version < "3.13"
fs==2.4.16 ; python_version >= "3.9" and python_version < "3.13"
greenlet==3.1.1 ; python_version < "3.13" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64") and python_version >= "3.9"
idna==3.10 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==8.5.0 ; python_version >= "3.9" and python_version < "3.12"
importlib-resources==6.4.5 ; python_version >= "3.9" and python_version < "3.10"
inflection==0.5.1 ; python_version >= "3.9" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.13"
jsonpath-ng==1.7.0 ; python_version >= "3.9" and python_version < "3.13"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9" and python_version < "3.13"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "3.13"
orjson==3.10.12 ; python_version >= "3.9" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.9" and python_version < "3.13"
platformdirs==4.3.6 ; python_version >= "3.9" and python_version < "3.13"
ply==3.11 ; python_version >= "3.9" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "3.13"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.13"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.9" and python_version < "3.13"
rpds-py==0.21.0 ; python_version >= "3.9" and python_version < "3.13"
setuptools==75.6.0 ; python_version >= "3.9" and python_version < "3.13"
simpleeval==1.0.3 ; python_version >= "3.9" and python_version < "3.13"
simplejson==3.19.3 ; python_version >= "3.9" and python_version < "3.13"
singer-sdk==0.39.1 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
sqlalchemy==2.0.36 ; python_version >= "3.9" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.13"
urllib3==1.26.20 ; python_version >= "3.9" and python_version < "3.13"
virtualenv==20.28.0 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.12"
